.cal-main{
    background-color: rgb(14, 13, 13);
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}
.cal-main p{
    padding: 5px;
}
.display{
    margin-bottom: 7px;
    width: 500px;
    height: 60px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(175, 245, 221);
}